#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        layout = &LOW_PROFILE_DEFAULT;

        win_default_layer {
            display-name = "BASE";
            bindings = <
                &kp Q        &kp W       &kp E        &kp R        &kp T                                 &kp Y        &kp U        &kp I       &kp O  &kp P
                &kp A        &kp S       &kp D        &kp F        &kp G                                 &kp H        &kp J        &kp K       &kp L  &kp MINUS
                &kp Z        &kp X       &kp C        &kp V        &kp B        &mkp MB1     &mkp MB2    &kp N        &kp M        &kp COMMA   &kp DOT  &lt 4 SLASH
                                    &kp LWIN  &kp LCTRL  &kp LSHIFT  &lt 1 SPACE  &lt 2 ENTER  &lt 2 BSPC  &lt 3 DEL  &kp RALT
            >;
        };

        layer_1 {
            display-name = "SYMBOLS";
            bindings = <
                &kp LS(N1)   &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                    &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0)
                &kp LS(INT3) &kp LS(N2)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)                    &kp SEMI   &kp COLON  &kp AT     &kp LBKT   &kp RBKT
                &none        &none       &none       &none       &none      &mkp MB4  &mkp MB5 &kp GRAVE  &kp LS(CARET) &kp LS(LBKT) &kp LS(RBKT) &kp LS(INT1)
                                     &trans     &trans    &trans    &trans    &trans     &kp DEL    &trans     &trans
            >;
        };

        layer_2 {
            display-name = "NUM / ARROW";
            bindings = <
                &kp LS(SEMICOLON) &kp N7     &kp N8     &kp N9     &kp LS(N8)                     &none  &none     &none   &kp C_VOL_DN &kp C_VOL_UP
                &kp LS(N0)        &kp N4     &kp N5     &kp N6     &kp LS(MINUS)                  &none  &kp LEFT  &kp UP  &kp DOWN     &kp RIGHT
                &kp N0            &kp N1     &kp N2     &kp N3     &kp DOT    &mkp MB4   &mkp MB5  &none  &none     &none   &kp INT1     &kp INT2
                                        &trans           &trans     &trans      &trans    &trans        &trans  &trans    &trans
            >;
        };

        layer_3 {
            display-name = "FUNCTION";
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
                &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none   &none   &none   &none   &none   &none    &none  &none
                                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            display-name = "SETTING";
            bindings = <
                &ccfg C_CPI_DN  &ccfg C_CPI_UP  &ccfg C_ROT_DN   &ccfg C_ROT_UP   &ccfg C_SCALE_TOG                        &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
                &ccfg C_SDIV_DN &ccfg C_SDIV_UP &ccfg C_SCRH_TOG &ccfg C_SCRV_TOG &ccfg C_SCRL_SCALE_TOG                   &bt BT_CLR     &bt BT_CLR_ALL  &none         &none         &none
                &ccfg C_SAVE    &ccfg C_RESET   &none            &none            &ccfg C_SCRL2_UP         &none  &none    &bootloader    &none           &none         &none         &none
                                                                    &trans       &trans  &trans  &trans  &trans  &trans    &trans        &trans
            >;
        };
    };
};